<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>

    <http auto-config="true" use-expressions="true">
            <intercept-url pattern="/projects**" access="hasRole('MANAGER')" />
            <intercept-url pattern="/test**" access="hasRole('DEVELOPER')" />

        <!-- access denied page -->
        <access-denied-handler error-page="/403" />

        <form-login
                login-page="/login"
                default-target-url="/projects"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password" />
        <logout logout-success-url="/login?logout"  />
        <!--<remember-me user-service-ref="UserService" key="task_key" />-->
        <!-- enable csrf protection -->
        <csrf/>
    </http>

    <!-- Select users and user_roles from database -->
    <authentication-manager>
        <authentication-provider ref="userServiceImpl">
            <!--<password-encoder ref="bcrypt" />-->

            <!--<jdbc-user-service data-source-ref="dataSource"-->
                               <!--users-by-username-query = "select user_name, password, enabled from user where user_name=?"-->
                               <!--authorities-by-username-query = "select u.user_name, r.namerole from user u, USERS_ROLES ur, ROLE r-->
                                    <!--WHERE u.USER_ID=ur.USER_ID and ur.USER_ROLE_ID=r.USER_ROLE_ID and u.USER_NAME=?" />-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>

<!-- authorities-by-username-query = "select u.user_name, u.role from user u where u.user_name =?" /> -->